in order to determine the details about the data such as number of rows and columns we use the info command in pandas.

In [ ]:
import pandas as pd

try:
		df = pd.read_csv("titanic.csv")
		print(df.shape)
		
except FileNotFoundError:
	raise FileNotFoundError("titanic.csv not found.")

to check is there are any missing value we us isnull() and to sum all the missing occurances we will use isnull().sum()

In [ ]:
try:
    df = pd.read_csv("titanic.csv")
    print(df.isnull().sum())
except Exception as e:
    print(f"An error occurred: {e}")

one simple group by result

In [ ]:
import pandas as pd
df = pd.read_csv("titanic.csv")
grouped = df.groupby("Pclass").mean(numeric_only=True)
print(grouped)

## Cleaning

converting cloumn names to lowercase and underscore

In [21]:
import pandas as pd

# Load Titanic dataset
df = pd.read_csv("titanic.csv")

# Fix column names: lowercase + underscores
df.columns = df.columns.str.lower().str.replace(r'[^a-z0-9]+', '_', regex=True)

print(df.columns)

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked'],
      dtype='object')